<html>

<head>

    <link rel="stylesheet" href="/foundation.min.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <h1><a href="https://stripe.com/docs/payments/cards/saving-cards-without-payment" target="_blank">Stripe SetupIntent</a></h1>
    
    <div class="container">
        <div class="grid-x">
            <div class="large-6 cell">
                <h4>Step 1: Create Setup Intent </h4>
                SetupIntent ID: <span id="setup-intent-id" class="label"></span>
                <h4>Step 2: Collect Credit Card Information </h4>
                <div>
                    <div>
                        <label for="card-element">
                            Enter Credit or debit card you want to setup and save to customer
                        </label>
                        <p id="current-pi"></p>
                        <div id="card-element">
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <div id="error" class="alert alert-warning">
                    </div>
                    <button id="setup-btn" class="button disabled">Setup Card</button>
                    <pre>
1. Testing Card 
3DS v2 Card: 4000000000003220
3DS v1 Card: 4000000000003063 
SCA Setup Card: 4000002500003155
SCA Insufficient fund: 4000008260003178 
https://stripe.com/docs/testing

                    </pre>
                    <br><br><br>
                    <h4>SCA Billing</h4>
                    <button id="sub-onsession" class="btn btn-primary">Subscribe on Session</button>
                    <div class="form-check" style="margin: 10px 0px">
                        <input class="form-check-input" type="checkbox" value="subtrial" id="createTrialSub" />
                        <label for="createTrialSub">
                            Click to create a 7 days trial Subscription, Simulating sinario 2.
                        </label>
                        <button id="sub-endtrial" class="btn btn-secondary">End subscription trial</button>
                    </div>


                    <div id="sub-failure">
                        <div>
                            <label for="sub-card-element">
                                Credit or debit card
                            </label>
                            <p id="current-pi"></p>
                            <div id="sub-card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="sub-errors" role="alert"></div>
                        </div>
                        <div id="sub-error" class="alert alert-warning">
                        </div>
                        <button id='subscribe-btn' class="common-Button btn btn-primary">Subscribe</button>
                    </div>
                </div>

            </div>
            <div class="large-6 cell">
                <h4>Logs</h4>
                <pre id="logs" class="logs"></pre>
            </div>

        </div>
    </div>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script src="/jquery-3.3.1.min.js"></script>
<script src="/utils.js"></script>
<script src="/integrate.js"></script>

</html>