<html>

<head>

    <link rel="stylesheet" href="/foundation.min.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <h1><a href="https://stripe.com/docs/payments/cards/saving-cards-without-payment" target="_blank">Stripe SetupIntent</a></h1>
    
    <div class="container">
        <div class="grid-x">
            <div class="large-6 cell">
                <h4>Step 1: Create Setup Intent </h4>
                SetupIntent ID: <span id="setup-intent-id" class="label"></span>
                <h4>Step 2: Collect Credit Card Information </h4>
                <div>
                    <div>
                        <label for="card-element">
                            Enter Credit or debit card you want to setup:
                        </label>
                        <p id="current-pi"></p>
                        <div id="card-element">
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <div id="error" class="alert alert-warning">
                    </div>
                    <label>Enter customer email to save card to:
                        <input type="text" id="customer-email" placeholder="customer-email@example.com" />
                    </label>
                    <button id="setup-btn" class="button disabled">Setup Card</button>
                    <pre>
1. Testing Card 
3DS v2 Card: 4000000000003220
3DS v1 Card: 4000000000003063 
SCA Setup Card: 4000002500003155
SCA Insufficient fund: 4000008260003178
3DS Supported Card: 4242424242424242
https://stripe.com/docs/testing

                    </pre>
                    <br><br><br>
                    <h4>Billing with API</h4>
                    <hr>
                    
                    <select id="plans">Select Plan
                        <option value="">Select plan to subscribe to</option>
                    </select>
                    <input type="text" id="currentCustomer" placeholder="Enter Customer Email to subscribe to" />
                    <button id="load-plans-btn" class="button">Load Plans</button>
                    <button id="subscribe-to-plan-btn" class="button">Subscribe</button>
                    
                    <label>Subscription ID: <span id='subscription-id'></span></label>
                    <label>Subscription Status: <span class="round alert label" id='subscription-status'></span></label>
                    <label>Subscription Invoice PI Status: <span class="round alert label" id='invoice-pi-status'></span></label>



                    <hr>                    
                    <h4>Billing with Stripe Checkout</h4>
                    <button id="checkout-btn" class="button">Checkout</button>
                </div>

            </div>
            <div class="large-6 cell">
                <h4>Logs</h4>
                <pre id="logs" class="logs"></pre>
            </div>

        </div>
    </div>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script src="/jquery-3.3.1.min.js"></script>
<script src="/utils.js"></script>
<script src="/integrate.js"></script>

</html>